@using System.Security.Claims
@using NewsApp.Services.Comments
@model CommentsViewModel

@{
    var comments = Model.Comments.ToList();
}
<h3>Comments (<span class="comments-count">@Model.Comments.Count</span>):</h3>

<div class="comments">
    @foreach (var comment in comments.Where(c => c.OuterCommentId == null))
    {
        <div id="comment-@(comment.Id)" class="comment border border-2 mb-2">
            <span class="username fw-bold">@comment.UserName</span>
            <span class="createdOn fw-bold">- @comment.CreatedOn</span>
            <p class="content">@comment.Content</p>
            <div class="inner-comments">
                @foreach (var innerComment in comment.InnerComments)
                {
                    <div id="inner-comment-@(innerComment.Id)" class="inner-comment border border-2 mb-2 ms-2">
                        <span class="username fw-bold">@innerComment.UserName</span>
                        <span class="createdOn fw-bold">- @innerComment.CreatedOn</span>
                        <p class="content">@innerComment.Content</p>
                    </div>
                }
            </div>


            <button class="btn btn-primary reply-btn">Reply</button>
            <div class="comment-reply-form border border-2 p-3 d-none">
                <h5>Reply to a comment:</h5>
                <textarea class="comment-content" placeholder="Please be as detailed as possible" rows="4" cols="50"></textarea>
                <div class="submit-btn-container">
                    <button class="reply-submit-btn btn btn-primary">Submit</button>
                </div>

            </div>

        </div>
    }

</div>

<button class="add-comment btn btn-primary mb-2">Add a new comment</button>

<div class="comment-submit-form border border-2 p-3 d-none">
    <h5>Add a comment:</h5>
    <textarea class="comment-content" placeholder="Please be as detailed as possible" rows="4" cols="50"></textarea>
    <div class="submit-btn-container">
        <button class="submit-btn btn btn-primary">Submit</button>
    </div>

</div>





<script type="text/javascript" on-content-loaded="true">

    $articleId = "@Model.ArticleId";
    $userId = "@Model.UserId";

    $("button.submit-btn").click(function () {
        postComment($(this).parent().prev(), $articleId, $userId);
    });

    $(document).on("click", "button.reply-submit-btn", function () {
        $commentReplyTextarea = $(this).parent().prev();
        $outerCommentId = $(this).closest(".comment").attr("id").match("\-(.*)$")[1];
        postComment($commentReplyTextarea, $articleId, $userId, $outerCommentId);
    });


    $("button.add-comment").click(function () {

        toggleCommentBox($(this));
    });

    $(document).on("click", "button.reply-btn", function () {
        // ADDED DUE TO THE NEED TO ATTACH EVENTS TO DYNAMICALLY CREATED BUTTONS.
        toggleCommentBox($(this));
    });

    function toggleCommentBox(btnElement) {
        $addCommentBox = btnElement.next();

        if ($addCommentBox.hasClass("d-none")) {
            $addCommentBox.removeClass("d-none");
        }
        else {
            $addCommentBox.addClass("d-none");
        }
    }


    function postComment(textareaContentElement, articleId, userId, outerCommentId = null) {


        $textAreaCommentContent = textareaContentElement;
        $commentContent = $textAreaCommentContent.val();


        $.ajax({
            type: "POST",
            url: "/api/comments",
            data: JSON.stringify({ articleId: articleId, userId: userId, content: $commentContent, outerCommentId: outerCommentId }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                visualizeComments(data, articleId);
                $textAreaCommentContent.val('');
            },
            error: function (errMsg) {
                alert(errMsg);
            }


        });

    }

    $initialComments = getData($articleId);



    function visualizeComments(comments, articleId) 
    {
        for (let i = $initialComments.length; i < comments.length; i++) {
            if (comments[i].outerCommentId != null) {
                $innerCommentHtml =
                    `<div id="inner-comment-${comments[i].id}" class="inner-comment border border-2 mb-2 ms-2">
                        <span class="username fw-bold">${comments[i].userName}</span>
                         <span class="createdOn fw-bold">- ${comments[i].createdOn}</span>
                          <p class="content">${comments[i].content}</p>
                    </div>`;

                $(`#comment-${comments[i].outerCommentId}`).find(".inner-comments").append($innerCommentHtml);
            }
            else {
                $outerCommentHtml = 
                `<div id="comment-${comments[i].id}" class="comment border border-2 mb-2">
                    <span class="username fw-bold">${comments[i].userName}</span>
                    <span class="createdOn fw-bold">- ${comments[i].createdOn}</span>
                    <p class="content">${comments[i].content}</p>
                    <div class="inner-comments"></div>
                    <button class="btn btn-primary reply-btn">Reply</button>
                    <div class="comment-reply-form border border-2 p-3 d-none">
                    <h5>Reply to a comment:</h5>
                    <textarea class="comment-content" placeholder="Please be as detailed as possible" rows="4" cols="50"></textarea>
                    <div class="submit-btn-container">
                        <button class="reply-submit-btn btn btn-primary">Submit</button>
                    </div>
                </div>`;

                $(".comments").append($outerCommentHtml);

            }
            $(".comments-count").text(comments.length.toString());
        }

        $initialComments = comments;

    }

    function getData(articleId) {
        comments = [];

        $.ajax({
            type: "GET",
            url: `/api/comments?articleId=${articleId}`,
            dataType: "json",
            async: false,
            success: function (data) {
                comments = data;
            },
            error: function (errMsg) {
                alert(errMsg);
            }


        });
        return comments;
    }
        



</script>
