@model IEnumerable<ArticlesViewModel>

@if (ViewData["name"].ToString() == "Football")
{


    <div class="row">


        <div class="col-6">
            @foreach (var article in Model)
            {
                <div class="article">
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                        <img src="@(article.ImageName != null ? $"/images/articles/{article.ImageName}" : "/images/placeholder.png")" width="80px" class="mx-2" alt="...">
                    <span>@article.Title</span>

                </a>
                </div>
            }
        </div>
        <div class="col-6">
            <div class="fixtures-container">
                <h3>Fixtures</h3>
                <vc:fixtures></vc:fixtures>
            </div>
            <div class="standing-container">
                <h3>Standings</h3>
                <vc:standings></vc:standings>
            </div>
        </div>

        
    </div>
}
else 
{
                @foreach (var article in Model)
            {
                <div class="article">
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">
                <img src="@(article.ImageName != null ? $"/images/articles/{article.ImageName}" : "/images/placeholder.png")" width="80px" class="mx-2" alt="...">
                    <span>@article.Title</span>

                </a>
                </div>
            }
}
